<html>
    <body>
        <h1>This is the About page</h1>
        
        <p>Here is where the story continues</p>
        
        <p>Go back to <%= link_to 'Home', root_path %></p>
        
    </body>
    
</html>