<thml>
    <body>
<h1>This is the Home Page</h1>

<p>This is where everything starts.</p>

<%= link_to 'About', about_path %>
<br>
<%= link_to image_tag('honeybee.jpeg'), 'http://www.cnn.com' %>
<br>
<%= image_tag'MooseandSprocket.jpg' %>

</body>
</html>
